<h1 class="page-title">Upload Invoice</h1>



<mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-12">
                <label for="formFile" class="form-label">Transaction File (CSV/XML)</label>
                <input class="form-control" type="file" id="formFile" (change)="onFileSelect($event)"
                    accept=".csv,.xml">
                <p class="text-danger" *ngIf="fileNotSelected">Please select a file</p>
                <p class="text-danger" *ngIf="fileTooLarge">File size exceeds 1 MB</p>
                <p class="text-danger" *ngIf="invalidExtension">Unknown format</p>
            </div>
            <div class="col-12 pt-2">
                <button mat-flat-button color="primary" (click)="onSubmit()">Upload</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <h4 class="mb-0">อัพโหลดข้อมูลไม่สำเร็จ</h4>
                    <button mat-button color="primary">ดาวน์โหลด log file</button>
                </div>
            </div>
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="mb-0">อัพโหลดข้อมูลเรียบร้อย</h4>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>