<h1 class="page-title">Invoice Transaction</h1>
<mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <label>Search By</label>
                <mat-radio-group aria-label="Select an option" class="example-radio-group" [(ngModel)]="searchType">
                    <mat-radio-button [value]="1">Currency</mat-radio-button>
                    <mat-radio-button [value]="2">Invoice Date</mat-radio-button>
                    <mat-radio-button [value]="3">Status</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-xl-4 col-md-6" *ngIf="searchType == 1">
                <div class="form-group">
                    <label>Currency</label>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <mat-select [(ngModel)]="criteria.currency">
                            <mat-option *ngFor="let item of currencies" [value]="item.key">{{item.key}} -
                                {{item.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" *ngIf="searchType == 2">
                <div class="form-group">
                    <label>Invoice Date</label>
                    <mat-form-field (click)="picker.open()">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="criteria.startDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="criteria.endDate">
                        </mat-date-range-input>
                        <!-- <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-2 col-md-4" *ngIf="searchType == 3">
                <div class="form-group">
                    <label>Status</label>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <mat-select [(ngModel)]="criteria.status">
                            <mat-option *ngFor="let item of invoiceStatus"
                                [value]="item.key">{{item.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button mat-flat-button color="primary" (click)="search()">Search</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>

<mat-card class="mt-4">
    <mat-card-content>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Invoice ID</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of result.data">
                        <td>{{item.invoiceNumber}}</td>
                        <td>{{item.invoiceAmount | number}} {{item.currencyCode}}</td>
                        <td>
                            <span *ngIf="item.status == 'A'" class="approved">A</span>
                            <span *ngIf="item.status == 'R'" class="rejected">R</span>
                            <span *ngIf="item.status == 'D'" class="done">D</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator #paginator class="demo-paginator" (page)="pageChanged($event)" [length]="result.totalRecord"
            [pageIndex]="criteria.pageIndex" [pageSize]="criteria.pageSize" [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
</mat-card>